[Unit]
# Description
Description=Startup daemon for Integrate. Runs as root.
DefaultDependencies=no
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/integrate/
ExecStart=/home/integrate/main.out
Timeoutstartsec=0
RemainAfterExit=yes

[Install]
WantedBy=default.target
