[Unit]
# Description
Description=Startup daemon for Integrate. Runs as root.
DefaultDependencies=no
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/integrate/
ExecStart=/bin/bash /usr/sbin/integrate.sh
Timeoutstartsec=0
RemainAfterExit=yes

[Install]
WantedBy=default.target
